@model RailTix.Models.Domain.CmsEventListSettings

<section class="cms-event-list">
	<h3>Events</h3>
	<p class="cms-event-list__note">Event list rendering will be wired to live data in a later phase.</p>
</section>

