@{
	ViewData["Title"] = "Admin Center";
}

<div class="admin-center">
	<h1>Admin Center</h1>
	<ul>
		<li><a href="/account/admin/content/pages">Content Pages</a></li>
		<li><a href="/account/admin/content/reserved-routes">Reserved Routes</a></li>
	</ul>
</div>

